In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 8
import os

In [3]:
train=pd.read_csv('/home/kartik/Desktop/Bonus Project/salary.csv')
train.head()

,Unnamed: 0,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305

In [5]:
train.company_name_encoded.nunique()
train.shape

(19802, 9)

In [6]:
train.salary.value_counts()

10to15    4500
15to25    4125
6to10     3533
0to3      3245
3to6      2824
25to50    1575
Name: salary, dtype: int64

In [9]:
target=pd.get_dummies(train.salary)

In [10]:
train.experience.apply(lambda x:x.split("-"))
train.job_type.value_counts()

Analytics    3747
analytics     921
ANALYTICS      77
analytic       32
Analytic       20
Name: job_type, dtype: int64

In [11]:
df=train.copy()

df.job_description.fillna('None',inplace=True)
df.key_skills.fillna('None',inplace=True)
def exp1(val):
    v=val.split(" ")[0].split("-")
    v1,v2=int(v[0]),int(v[1])
    return (v1+v2)/2
df['exp']=df.experience.apply(exp1)
df['key_skill_len']=df.key_skills.apply(lambda x:len(x.split(",")))


df['exp_low']=df.experience.apply(lambda x:int(x.split("-")[0]))
df['exp_high']=df.experience.apply(lambda x:int(x.split("-")[1].split(" ")[0]))


df['jdescLen']=df.job_description.apply(len)
df['jdsgnLen']=df.job_desig.apply(len)
df['locationLen']=df.location.apply(lambda x:len(x.split(",")))

df.drop(['job_type','Unnamed: 0','experience'],axis=1,inplace=True)
target=df.salary
target=pd.get_dummies(train.salary)

In [12]:
df.head()

,job_description,job_desig,key_skills,location,salary,company_name_encoded,exp,key_skill_len,exp_low,exp_high,jdescLen,jdsgnLen,locationLen
0,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687,6.0,4,5,7,96,43,1
1,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458,13.5,6,10,17,108,8,1
2,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195,7.0,4,5,9,100,66,1
3,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313,8.5,7,7,10,106,34,1
4,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305,2.0,5,1,3,107,23,1

In [15]:
df.isnull().sum()
df.columns

Index(['job_description', 'job_desig', 'key_skills', 'location', 'salary',
       'company_name_encoded', 'exp', 'key_skill_len', 'exp_low', 'exp_high',
       'jdescLen', 'jdsgnLen', 'locationLen'],
      dtype='object')

In [16]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv_jb = TfidfVectorizer(ngram_range=(1,3),stop_words="english", analyzer='word')
jb =cv_jb.fit_transform(df['job_description'])

cv_jd = TfidfVectorizer(ngram_range=(1,2),stop_words="english", analyzer='word')
jd =cv_jd.fit_transform(df['job_desig'])

cv_key = TfidfVectorizer(ngram_range=(1,3),stop_words="english", analyzer='word')
ks =cv_key.fit_transform(df['key_skills'])

cv_jbchar = TfidfVectorizer(ngram_range=(1,9),stop_words="english", analyzer='char')
jbchar =cv_jbchar.fit_transform(df['job_description'])

cv_jdchar = TfidfVectorizer(ngram_range=(1,8),stop_words="english", analyzer='char')
jdchar =cv_jdchar.fit_transform(df['job_desig'])

cv_keychar = TfidfVectorizer(ngram_range=(1,9),stop_words="english", analyzer='char')
kschar =cv_keychar.fit_transform(df['key_skills'])

In [ ]:
loc=np.array(df['location'].values)
loc.append(np.array(test['location'].values),axis=0)
loc = np.append(df['location'].values, test['location'].values, axis=0)
loc